@import 'common.css';

/* common utility class */
.unlisted {
  list-style: none;
  padding-left: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
}
.grid--4 {
  grid-template-columns: repeat(3, 1fr);
}

/* Header */

header {
  background-color: #333;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  padding: 0.8rem 1.2rem;
  display: inline-block;
}
.navLink:hover {
  background-color: #717171;
}

/* Main shop items */

main {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.shopTitle {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 500;
}

/* Shop item */

.shopItemTop {
  position: relative;
}
.shopItemTop span {
  background-color: #1e2832;
  padding: 0.4rem 1.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  position: absolute;
  top: 2.2rem;
  left: 0;
}

.shopItemInfo {
  padding: 1.8rem;
  display: grid;
  grid-template-columns: 40% auto;
}

.shopItemInfo .title {
  font-size: 1.6rem;
  grid-column: span 2;
}
.shopItemInfo .category {
  color: gray;
  font-size: 1.6rem;
}
.salePrice {
  color: gray;
  font-size: 1.4rem;
  padding-right: 1.2rem;
  display: inline-block;
}
.price {
  font-size: 1.6rem;
  color: #000;
}
.price.onSale {
  color: #ff6f61;
}
